body {
    margin-top: 0px;
    margin-left: 2px;
    color: black;
    font-family: Helvetica, Arial, "Microsoft Yahei UI", sans-serif
}

a {
    cursor: pointer;
    text-decoration: none;
}

.headword {
    color: #08d;
    font-size: 1.5em;
    line-height: 1.35em;
    font-weight: 700;
    display: block;
}

.runon .headword {
    color: #08d;
    font-size: 1.5em;
    line-height: 1.35em;
    font-weight: 700;
}

.pos {
    color: #08d;
    font-weight: 700;
    text-transform: uppercase;
    /* padding-left: 5px; */
    padding-right: 5px;
}

.irreg-infls .inf {
    font-weight: 700
}

.entry-body__el {
    clear: both;
}

.phrase-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

.def-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

.extraexamps {
    margin-left: 25px;
    margin-bottom: 10px;
    display: none;
}

.extraexamps .more_example_title {
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: 700;
    background: rgb(80, 80, 80);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    border-radius: 8px;
    font-size: 0.90em;
}

.en_example,
.cn_example {
    /* color: rgb(37, 37, 37); */
    color: black;
    font-weight: normal;
    margin: 0 0 2px 0;
}

.extraexamps .en_example {
    display: none;
}

.phrase-title {
    display: inline-block;
    margin: 5px 0 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: #234b9a;
    cursor: auto;
}

.phrase-body .def-head {
    padding-top: 2px;
    margin: 0 0 5px
}

.phrase-body .def-body {
    margin: 0 0 10px;
}

.item {
    margin-bottom: 5px;
    color: #234b9a;
    display: block;
    padding-left: 20px;
    font-weight: 700;
}

.def-body {
    display: block;
    color: darkgrey;
    font-weight: 700;
}

span.b {
    font-weight: 700;
    color: #08d;
}

.uk>.region {
    /* text-transform: uppercase; */
    color: #a52a2a;
    font-size: 1em;
    font-weight: 700
}

.us>.region {
    /* text-transform: uppercase; */
    color: #045Fb4;
    font-size: 1em;
    font-weight: 700
}

.sense-block h3 {
    margin: 0 0 5px 0;
    color: #08d;
    font-size: 13px;
    border-bottom: 1px dotted;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    line-height: 1.35em;
}

.sense-block .hw {
    display: none;
}

.sense-block .pos {
    display: none;
}


.sense-block .phrase {
    color: black;
    font-weight: 700;
    font-size: 1.1em;
    background: rgba(0, 136, 221, .1);
    padding: 1px 3px;
    border-radius: 4px;
}

.gram {
    color: #08d;
    font-size: 0.95em;
    font-weight: 700;
    display: inline;
}

.pos-header .gram {
    padding-right: 4px;
}

@media screen and (max-width:449px) {
    .pos-body .cols__col {
        margin-top: 10px
    }
}

.def-head {
    margin: 2px 0px 5px 0;
    font-weight: bold;
    font-size: 1em;
    display: block;
}

.def-head .cn_def::before {
    content: " "
}


.cols__col {
    float: left;
    width: 100%;
    box-sizing: border-box
}

@media screen and (min-width:450px) {
    .cols__col {
        margin-left: 6px;
        width: 47%
    }

    .cols__col:nth-child(2n+1) {
        margin-left: 0;
        clear: both
    }
}

.idioms h3 {
    background: #234b9a;
    color: white;
    padding: 5px 0px 5px 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    margin-bottom: 10px;
}

.phrasal_verbs h3 {
    background: #234b9a;
    color: white;
    padding: 5px 0px 5px 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    margin-bottom: 10px;
}

.see_also {
    margin: 5px 0 0 25px;
}

.us .pron .ipa {
    display: inline-block;
    padding: 0 2px 0 1px;
    color: #08d;
}

.uk .pron .ipa {
    display: inline-block;
    padding: 0 2px 0 1px;
    color: #a52a2a;
}

.b {
    font-weight: bold;
    color: rgb(40, 40, 40);
}

.def-head .trans::before {
    content: " ";
}

.cefr {
    padding: 1px 4px 1px 4px;
    color: #fff;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
    background-color: #08d;
    border-radius: 8px;
}

.example {
    margin: 0 0 5px 25px;
}

.usage {
    display: inline;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 500;
}

.x-num {
    display: inline;
    font-size: 0.95em;
    font-weight: 500;
}

.x-h {
    color: #08d;
}

.lab {
    border: 1px solid #08d;
    border-radius: 3px;
    padding: 0 3px 0 3px;
    background-color: AliceBlue;
    text-transform: uppercase;
    font-size: 0.75em;
    color: #08d;
    vertical-align: 1px;
}

.my_phrase .headword {
    display: block;
}

.my_phrase a {
    color: #08d;
}

.var .v {
    color: #08d;
    font-weight: bold;
}

.anc-info-head {
    color: #08d;
}

.ipa .sp {
    font-size: 75%;
    position: relative;
    bottom: .5em;
}

/*增加CEFR表格 A1 - C2*/

#box-table-a {
    font-family: Helvetica, Arial, "Microsoft Yahei", sans-serif;
    text-align: center;
}

#box-table-a th {
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px;
    background: #08d;
    color: white;
}

#box-table-a td {
    padding: 4px;
    background: #e8edff;
    color: #08d;
    text-align: left;
    border-top: 1px solid transparent;
}

#box-table-a tr:hover td {
    background: #08d;
    color: white;
}

.cn_example {
    display: block;
}

.cn_def {
    display: inline;
}